    <form action="{{url_for('do_register')}}" method="post">
      <div>
        <h1>Register</h1>
        <p>Kindly fill in this form to register.</p>
        <label for="email"><b>Email</b></label>
        <input type="text"placeholder="Enter Email"name="email"id="email"required/>
        <label for="pwd"><b>Password</b></label>
        <input type="password"placeholder="Enter Password"name="pwd"id="pwd"required/>
        <label for="pwd-repeat"><b>Repeat Password</b></label>
        <input
          type="password"
          placeholder="Repeat Password"
          name="pwd-repeat"
          id="pwd-repeat"
          required
        />

        <button type="submit">Register</button>
      </div>
     <!-- wrapping the text inside the p tag with a tag for routing to login page url-->
      <!-- the # must ideally be replaced by the login page url -->
      <div>
        <p>Already have an account? <a href="#">Log in</a>.</p>
      </div>
    </form>
